
<div class="row">
  <h1>BURGERS!</h1>
</div>
 

<div class="pull-left">
<ol>
  {{#each burgers}}
    {{#unless this.eat}}
      <li>
        {{this.name}}

        <form class="form-inline pull-right" action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="eat" value="true">
          <button type="submit">EAT ME!</button>
        </form>

      </li>
    {{/unless}}
  {{/each}}
</ol>
</div>

<div class="pull-right">

<ol>
  {{#each burgers}}
    {{#if this.eat}}
      <li>
        {{this.name}}

        <form class="pull-right form-inline" action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="eat" value="false">
          <button type="submit">EATEN!</button>
        </form>

    
      </li>
    {{/if}}
  {{/each}}
</ol>
</div>



<div class="clearfloat bandc">
 
    <h2>ADD BURGERS</h2>
      <form class="form-inline" action="burgers/create" method="POST">

        <div class="form-group form-inline">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
        </div>

        <div class="form-group form-inline">
        <label for="eat"></label><br>
        <input type="radio" name="eat" value="1" checked> EAT!<br>
        <input type="radio" name="eat" value="0"> EATEN
        </div>

        <button type="submit">Add Burger</button>
      </form>
</div>
