
<div class="pull-left">
<h1>BURGERS!</h1>

<ul>
  {{#each burgers}}
    {{#unless this.eat}}
      <li>
        {{this.name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="eat" value="true">
          <button type="submit">EATEN!</button>
        </form>

        
      </li>
    {{/unless}}
  {{/each}}
</ul>

</div>

<h2>Burgers Eat!</h2>

<ul>
  {{#each burgers}}
    {{#if this.eat}}
      <li>
        {{this.name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="eat" value="false">
          <button type="submit">EAT ME!</button>
        </form>

    
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a BURGER</h2>
<form class="create-update-form" action="burgers/create" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="eat">EAT?</label><br>
    <input type="radio" name="eat" value="1" checked> EAT!<br>
    <input type="radio" name="eat" value="0"> EATEN
  </div>

  <button type="submit">Add Burger</button>
</form>